
2/\.vs/2/v15/\.suo

2/\.vs/2/v15/Browse\.VC\.db

2/\.vs/2/v15/ipch/AutoPCH/124296491841cca6/MAINWINDOW\.ipch

2/\.vs/2/v15/ipch/AutoPCH/18cf39b9f2940b92/QTCLASS\.ipch

2/\.vs/2/v15/ipch/AutoPCH/7099238f972c4899/QTGUICLASS\.ipch

2/\.vs/2/v15/ipch/AutoPCH/8f6c6061840b0928/ARM_NEON\.ipch

2/\.vs/2/v15/ipch/AutoPCH/a157f0034f56ff6a/MAIN\.ipch

2/\.vs/2/v15/ipch/AutoPCH/d0c8eb38bbb02402/QTCLASS\.ipch

2/\.vs/2/v15/ipch/AutoPCH/e5a196769d6b17b6/MAINWINDOW\.ipch

2/\.qmake\.stash

2/2\.vcxproj

2/2\.vcxproj\.filters

2/2\.vcxproj\.user

2/debug/2\.exe

2/debug/2\.ilk

2/debug/2\.pdb

2/debug/moc_mainwindow\.cpp

2/debug/moc_predefs\.h

2/debug/moc_predefs\.h\.cbt

2/debug/moc_QtClass\.cpp

2/debug/moc_QtGuiClass\.cpp

2/2\.sln

2/QtClass\.cpp

2/QtClass\.h

2/QtGuiClass\.cpp

2/QtGuiClass\.h

2/QtGuiClass\.ui

2/release/moc_predefs\.h\.cbt

2/ui_mainwindow\.h

2/ui_QtGuiClass\.h

2/x64/Debug/2\.log

2/x64/Debug/2\.tlog/2\.lastbuildstate

2/x64/Debug/2\.tlog/2\.write\.1u\.tlog

2/x64/Debug/2\.tlog/CL\.10212\.write\.1\.tlog

2/x64/Debug/2\.tlog/CL\.command\.1\.tlog

2/x64/Debug/2\.tlog/CL\.read\.1\.tlog

2/x64/Debug/2\.tlog/custombuild\.command\.1\.tlog

2/x64/Debug/2\.tlog/custombuild\.read\.1\.tlog

2/x64/Debug/2\.tlog/custombuild\.write\.1\.tlog

2/x64/Debug/2\.tlog/link\.command\.1\.tlog

2/x64/Debug/2\.tlog/link\.read\.1\.tlog

2/x64/Debug/2\.tlog/link\.write\.1\.tlog

2/x64/Debug/2\.tlog/moc\.read\.1u\.tlog

2/x64/Debug/2\.tlog/moc\.write\.1u\.tlog

2/x64/Debug/2\.tlog/uic\.read\.1u\.tlog

2/x64/Debug/2\.tlog/uic\.write\.1u\.tlog

2/x64/Debug/main\.obj

2/x64/Debug/mainwindow\.obj

2/x64/Debug/moc_mainwindow\.obj

2/x64/Debug/moc_QtClass\.obj

2/x64/Debug/moc_QtGuiClass\.obj

2/x64/Debug/qt_work\.log

2/x64/Debug/QtClass\.obj

2/x64/Debug/QtGuiClass\.obj

2/x64/Debug/vc141\.pdb
